<ActionBar [title]="'EXAMPLE.TITLE' | translate" class="actionbar">
    <NavigationButton [text]="'EXAMPLE.BACK' | translate" (tap)="goBack()"></NavigationButton>
</ActionBar>
<ScrollView class="page-wrapper">
    <StackLayout>
        <StackLayout class="picture-wrapper">
            <Image class="picture" src="~/assets/images/nativescript-nl.png"></Image>
        </StackLayout>
        <StackLayout class="page">
            <Label class="header" [text]="'EXAMPLE.TITLE' | translate"></Label>
            <TextView class="text" editable="false" [text]="'EXAMPLE.TEXT' | translate"></TextView>
            <Button class="button" text="Nederlands" (tap)="changeLanguage('nl')"></Button>
            <Button class="button" text="English" (tap)="changeLanguage('en')"></Button>
        </StackLayout>
    </StackLayout>
</ScrollView>
